@model ASP_WebAppTour_6AKIF_JaenV.Models.Tour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.To_Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_Bezeichnung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.To_Tour_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
